.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* restore border to dynamically added elements */
tbody tr td {
  border: 1px solid #222;
}

/* striped elements for dynamic lists */

tbody tr:nth-child(odd) {
  background-color: #ccc;
}

tbody tr:nth-child(even) {
  background-color: #fff;
}

/* highlight first list element */
tbody tr:first-child {
  background-color: #f0f;
}
