tbody tr {
  /* restore border to dynamically added elements */
  border: 1px solid #222;
  /* align text in td elements */
  text-align: center;
}


/* striped elements for dynamic lists */
tbody tr:nth-child(odd) {
  background-color: #ccc;
}

tbody tr:nth-child(even) {
  background-color: #fff;
}

/* highlight first list element */
tbody tr:first-child {
  color: #f0f;
}
